<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .gridWrapper {
            display: flex;
            text-align: center;
            margin-top: 20px;
        }

    </style>
</head>
<body>

<div class="gridWrapper">
    <div class="grCont">
        <div>o</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>o</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>

    </div>
</div>

</body>
</html>